/* header */
.header{
  background-image: url("../images/developer.png"), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  
  

}
.background-color{
  background-color: #fff8f3;
}
.open-sans-portfolio {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.btn-primary{
  font-weight: bold;
  font-size: 20px;
  background-color: #FD6E0A;
  color: white;
  border: none;
  padding: 18px 35px 19px 36px;
  border-radius: 5px;
}
.section-title{
  font-size: 35px;
  font-weight: bold;
 
}
.section-description{
  font-size: 18px;

}
.text-primary{
  color: #FD6E0A;
}
.text-center{
  text-align: center;
}
/* Nav styles */
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:50px 250px;


}
.nav-title{
  font-weight: 800;
  font-size: 45px;
}
nav ul li{
  list-style: none;
  margin-right: 51px;
}
nav li a{
  text-decoration: none;
  font-size: 20px;
}
nav ul{
  display: flex;
  align-items: center;
}
.dark-1{
  color: #181818;
}
.dark-2{
  color: #474747;
}
.dark-3{
  color: #757575;
}
/* banner styls */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 230px;
}
.banner-content{
  width: 585px;
 
}
.banner-greetings{
  font-size:45px;
  font-weight:600px;
}
.banner-title{
  font-size: 85px;
  font-weight: 800;
}
.banner-description{
  font-size: 18px;
  color:#757575 ;

}
.banner-profile-pic{
  width:584px;
  
}
/* main style */
main{
  max-width: 1140px;
  /* height: 550px; */
  margin: 0 auto;
 
}
main section{
   margin-top: 130px;
  margin-bottom: 130px;
}
/* about */
.about{
  border-radius: 10px;
  text-align: center;
  padding: 130px 150px;
  
  /* background-color: #ffffff; */
  /* width: 827px; */
  /* height: 288px; */
} 
.about-items{
  display: flex;
  justify-content: space-around;
}
.item-title{
  margin-bottom: 0;
}
.item-discription{
  font-weight:bold;
  margin-top:0;
  
}
/* skils section styles */
.skills-container{
  display: flex;
  gap: 24px;
}
.skill{
  padding: 30px;
  box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
  border-radius: 5px;
}
.section-description{
  margin-left: 130px;
  margin-right: 130px;
}
/* resume styles */
.resume-container{
  display: flex;
  gap: 24px;
}
.resume-column-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom:30px;
}
.experience-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.experience-sub-title{
  font-size: 20px;
  font-weight: 600px;
  margin-bottom:20px;
  margin-top: 10px;
}
.experience-discription{
  font-size: 16px;
  margin-bottom: 30px;
}
.download{
  text-align: center;
  background-color: #FD6E0A;
  
  border-radius: 5px;

}
.resume-doenload-cv{
  margin-top:50px ;
  margin-bottom: 115px;
}
/* footer styles */
footer{
  padding: 130px 300px;
  display: flex;
  gap: 117px;
}
.footer-column{
  width: 50%;
}
footer input[type="email"], footer input[type="text"], footer textarea{
  height: 64px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  display: block;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
  font-size: 16px;
}
/* hover */
a:hover{
  background-color: aqua;
}
button:hover{
  background-color: #fd6f0a;
  color: white;
}
/* responsive media query */
.hide{
  display: none;
}
@media screen and (max-width:576px) {
  .skills-container, .resume-container, footer, .about-items, .banner, nav,nav > ul{
    flex-direction: column;
  }
  nav > ul{
    gap:10px
  }
  .section-description{
    margin-left: 30px;
    margin-right: 30px;
  }
  .header{
    background-image: none;
  }
  .banner-profile-pic, .banner-content{
    width: 100%;
  }
  .btn-primary{
    margin-bottom:10px ;
  }
  .banner, nav{
    margin: 10px;
  }
  footer , .about{
    padding:20px;
  }
  .footer-column{
    width: 100%;
  }
  footer input[type="email"], footer input[type="text"], footer textarea{
    width: calc(100% - 40px);
  }
}